{{ 'header.css' | asset_url | stylesheet_tag }}

<!-- header section -->
<header class="header __dhiwise">
  <div class="header-row">
    <div class="left-content">
      <p class="tisso-vison">{{ section.settings.tisso_vison }}</p>
      <p class="findtheideal">{{ section.settings.findtheideal }}</p>
    </div>
    <button class="choose_gift" id="chooseGiftBtn">
      {{ section.settings.choose_gift }}
    </button>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var chooseGiftBtn = document.getElementById('chooseGiftBtn');
    chooseGiftBtn.addEventListener('click', function() {
      window.location.href = '{{ routes.collections_url }}';
    });
  });
</script>

{% schema %}
  {
    "name": "t:sections.header.name",
    "tag": "header",
    "settings": [
      {
        "type": "text",
        "id": "tisso_vison",
        "label": "Tisso Vison Text",
        "default": "Tisso Vison"
      },
      {
        "type": "text",
        "id": "findtheideal",
        "label": "Find the Ideal Gift Text",
        "default": "Find the ideal gift for your loved ones."
      },
      {
        "type": "text",
        "id": "choose_gift",
        "label": "Choose Gift Button Text",
        "default": "Choose Gift"
      }
    ],
    "presets": [
      {
        "name": "t:sections.header.presets.name"
      }
    ]
  }
{% endschema %}